<%- include("../partials/header")  %>  
<%- include("../partials/navbar")  %> 

    <link rel="stylesheet" href="/css/contactUs.css">


    <!-- **************************Contact Us From************************************* -->

    <article>
        <div style="margin: 0;padding: 0;" class="container">
            <div class="contactinfo">
                <h2>Contact Info</h2>
                <ul class="info">
                    <li>
                        <span><i class="fas fa-map-marker-alt"></i></span>
                        <span>2912 Meadowbrook Road <br>
                            Los Angekes,CA <br>
                            90017
                        </span>
                    </li>
                    <li>
                        <span><i class="fas fa-envelope-open-text"></i></span>
                        <span>lorem@gmail.com</span>
                    </li>
                    <li>
                        <span><i class="fas fa-phone-alt"></i></span>
                        <span>310-386-1642</span>
                    </li>
                </ul>

                <ul class="sci">
                    <li><a href=""><i class="fab fa-facebook"></i></a></li>
                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                    <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                    <li><a href=""><i class="fab fa-twitter"></i></a></li>
                </ul>

            </div>

            <div class="contactForm">
                <h2>Send a Message</h2>
                <div class="formBox">
                    <div class="inputBox w50">
                        <input type="text" name="" required>
                        <span>First Name</span>
                    </div>
                    <div class="inputBox w50">
                        <input type="text" name="" required>
                        <span>Last Name</span>
                    </div>
                    <div class="inputBox w50">
                        <input type="text" name="" required>
                        <span>Email Address</span>
                    </div>
                    <div class="inputBox w50">
                        <input type="text" name="" required>
                        <span>Mobile Number</span>
                    </div>
                    <div class="inputBox w100">
                        <textarea name="" id="" cols="20" rows="6"></textarea>
                        <span class="textarea">Write Your Message Here...</span>
                    </div>
                    <div class="inputBox w50">
                        <input type="submit" value="Send">
                    </div>
    
                </div>
            </div>

        </div>


    </article>





    <!-- ************************3D Cards********************************************** -->

    <h3>Our Team</h3>

    <div class="threeDCard">

        <section >
            <div class="wrap">
                <div  class="side-a">
                    <img style="border-radius: 50%;" src="/assets/contactUs1.png" alt="">
                </div>
                <div style="box-sizing: content-box; overflow: hidden;;" class="side-b">
                    <h2>Prashil Ganvir</h2>
                    <h6>(Backend Developer)</h6>
                    <p style="box-sizing: content-box;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et modi atque laudantium illo eveniet, ipsum quas ipsa dignissimos nulla aliquam aperiam neque voluptatum</p>
                </div>
            </div>
        </section>

        <section>
            <div class="wrap">
                <div  class="side-a">
                    <img style="border-radius: 50%;" src="/assets/contactUs2.png" alt="">
                </div>
                <div style="box-sizing: content-box; overflow: hidden;;" class="side-b">
                    <h2>Prashil Ganvir</h2>
                    <h6>(Backend Developer)</h6>
                    <p style="box-sizing: content-box;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et modi atque laudantium illo eveniet, ipsum quas ipsa dignissimos nulla aliquam aperiam neque voluptatum</p>
                </div>
            </div>
        </section>

        <section>
            <div class="wrap">
                <div  class="side-a">
                    <img style="border-radius: 50%;" src="/assets/contactUs3.png" alt="">
                </div>
                <div style="box-sizing: content-box; overflow: hidden;;" class="side-b">
                    <h2>Prashil Ganvir</h2>
                    <h6>(Backend Developer)</h6>
                    <p style="box-sizing: content-box;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et modi atque laudantium illo eveniet, ipsum quas ipsa dignissimos nulla aliquam aperiam neque voluptatum</p>
                </div>
            </div>
        </section>

        <section>
            <div class="wrap">
                <div  class="side-a">
                    <img style="border-radius: 50%;" src="/assets/contactUs4.png" alt="">
                </div>
                <div style="box-sizing: content-box; overflow: hidden;;" class="side-b">
                    <h2>Prashil Ganvir</h2>
                    <h6>(Backend Developer)</h6>
                    <p style="box-sizing: content-box;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et modi atque laudantium illo eveniet, ipsum quas ipsa dignissimos nulla aliquam aperiam neque voluptatum</p>
                </div>
            </div>
        </section>

    </div>



<%- include("../partials/footer")  %> 